<div class="tile">
    <div class="card">
      <div class="img-container pointer" style="height:130px; width: 190px" >
        <p>Image</p>
      </div>
      <p class="my-2 d-block text-left font-weight-bold text-danger">
        Brand
      </p>
      <div class="card-text tl">
        <ul class="ltn">
          <li class="fb pointer hover" style="height:80px; line-height:20px; overflow-y:hidden"> Product Name</li>
          <li>start rating</li>
          <li>$8.00</li>
        </ul>
        <button class="btn btn-primary float-right display-inline" type="button">Add to cart</button>
      </div>
    </div>
  </div>
  