<div>
    <div>
        <carousel>
          <slide>
            <img src="https://picsum.photos/1024/200/?image=54" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="https://picsum.photos/1024/200/?image=58" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="https://picsum.photos/1024/200/?image=55" alt="third slide" style="display: block; width: 100%;">
          </slide>
          </carousel>
      </div>
  </div>
    