/* You can add global styles to this file, and also import other style files */
.text-dark{
    &.hover {
        &:hover{
            color:#007bff !important;
            text-decoration: none;
        }
    }
}

.logo-img{
    animation: App-logo-spin infinite 10s linear;
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}