<div>
    <div>
      <app-carousel></app-carousel>
    </div>
    <div class="container my-4">
      <div class="container tc">
        <div class="alert alert-primary" role="alert">
          <span class="display-inline-block py-1 font-weight-bold">Deal of the Day</span>
          <button class="btn btn-danger float-right display-inline" type="submit">Show All</button>
        </div>
        <div class="row">
          <div class="col">
            <app-tile></app-tile>
          </div>
        </div>
        <div class="alert alert-primary" role="alert">
            <span class="display-inline-block py-1 font-weight-bold">Low-cost items</span>
            <button class="btn btn-danger float-right display-inline" type="submit">Show All</button>
          </div>
          <div class="row">
            <div class="col">
              <app-tile></app-tile>
            </div>
          </div>
      </div>
    </div>
</div>
    