<div class="container my-5 form-width">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="registerName">Name</label>
                <input required minlength="3" ngModel 
                                #registerName="ngModel" 
                                name="registerName" 
                                id="registerName" 
                                type="text"
                                class="form-control">
                <div class="text-danger" *ngIf="(f.submitted || registerName.touched) && !registerName.valid">
                  <div *ngIf="registerName.errors.required">Please enter your name</div>
                  <div *ngIf="registerName.errors.minlength">Please enter full name</div>
                </div>
              </div>
          <div class="form-group">
            <label for="registerEmail">Email</label>
            <input required email ngModel 
                            #registerEmail="ngModel" 
                            name="registerEmail" 
                            id="registerEmail" 
                            type="text"
                            class="form-control">
            <div class="text-danger" *ngIf="(f.submitted || registerEmail.touched) && !registerEmail.valid">
              <div *ngIf="registerEmail.errors.required">Please enter your email address</div>
              <div *ngIf="registerEmail.errors.email">Please enter valid email address</div>
            </div>
          </div>
          <div class="form-group">
              <label for="registerPassword">Password</label>
              <input required ngModel 
                              #registerPassword="ngModel" 
                              type="password" 
                              name="registerPassword" 
                              id="registerPassword" 
                              class="form-control">
              <div class="text-danger" *ngIf="(f.submitted || registerPassword.touched) && !registerPassword.valid">
                <div *ngIf="registerPassword.errors.required">Please enter your password</div>
              </div>
          </div>
          <div class="my-4">
            <button class="btn btn-primary w-100" type="submit">Register</button>
          </div>
        </form>
      </div>