<div class="container my-4">
        <form>
            <div class="form-group">
                <label for="registerName">Name</label>
                <input required minlength="3" ngModel 
                                #registerName="ngModel" 
                                name="registerName" 
                                id="registerName" 
                                type="text"
                                class="form-control">
                <div class="text-danger" *ngIf="registerName.touched && !registerName.valid">
                  <div *ngIf="registerName.errors.required">Please enter your name</div>
                  <div *ngIf="registerName.errors.minlength">Please enter full name</div>
                </div>
              </div>
          <div class="form-group">
            <label for="registerEmail">Email</label>
            <input required email ngModel 
                            #registerEmail="ngModel" 
                            name="registerEmail" 
                            id="registerEmail" 
                            type="text"
                            class="form-control">
            <div class="text-danger" *ngIf="registerEmail.touched && !registerEmail.valid">
              <div *ngIf="registerEmail.errors.required">Please enter your email address</div>
              <div *ngIf="registerEmail.errors.email">Please enter valid email address</div>
            </div>
          </div>
          <div class="form-group">
              <label for="registerPassword">Password</label>
              <input required ngModel 
                              #registerPassword="ngModel" 
                              type="password" 
                              name="registerPassword" 
                              id="registerPassword" 
                              class="form-control">
              <div class="text-danger" *ngIf="registerPassword.touched && !registerPassword.valid">
                <div *ngIf="registerPassword.errors.required">Please enter your password</div>
              </div>
          </div>
          <button class="btn btn-secondary" type="submit">Register</button>
        </form>
      </div>